BODY{
	Background-color:black;
}	

#Cabecera
{ 
	
	background-color:white;
	color: black;
	font-size: large;

}

li
{
	display: inline;

}


#contenidoprincipal
{
	background-color: white
	margin-left: 200px;
	padding-left: 15px;
	padding-top: 15 px;
}

section

{

	margin-left: 250px ;
}

aside
{
	float: left;
	height: 1080px;
}

#Pieprincipal
{
	clear: both;
	background-color: #BFF7DC;
	margin-top: 50px
}